body.path-ixm-dashboard {
  background-color: #f7f9fa; }

.page-dashboard {
  background-color: #f7f9fa;
  color: #787d81;
  font-size: 12px;
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /** Widgets **/
  /** Widget Form **/ }
  .page-dashboard .widget-title,
  .page-dashboard .page-title {
    font-size: 17px;
    color: #1f262b;
    text-transform: uppercase;
    font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .page-dashboard .dropdown-toggle:after {
    display: none; }
  .page-dashboard .nav-link i {
    vertical-align: middle; }
  .page-dashboard .display-widget {
    margin-bottom: 1.75em; }
  .page-dashboard .widget-content {
    margin-bottom: 1em; }
  .page-dashboard .widget-box {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 1em;
    height: 100%; }
    .page-dashboard .widget-box .section {
      margin: 1.5em 0 0.5em; }
    .page-dashboard .widget-box .title {
      margin: 0 0 .5em 0;
      color: #787d81;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    .page-dashboard .widget-box .stat {
      color: #1f262b;
      font-size: 36px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: .25em; }
    .page-dashboard .widget-box .status-text {
      font-size: 13px; }
    .page-dashboard .widget-box a .material-icons {
      font-size: 1em; }
    .page-dashboard .widget-box h3 {
      margin: 0.5em 0;
      font-size: 14px; }
    .page-dashboard .widget-box h4 {
      margin: 0.5em 0;
      font-size: 12px; }
    .page-dashboard .widget-box .detail {
      font-size: 1.5em;
      color: #eb7828; }
  .page-dashboard #widget-form {
    min-width: 280px;
    padding: 1em 1.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px; }
    .page-dashboard #widget-form form h2,
    .page-dashboard #widget-form form h3 {
      margin: 0.5em 0;
      font-size: 17px; }
    .page-dashboard #widget-form .description {
      font-size: 12px; }
    .page-dashboard #widget-form .form-checkboxes {
      padding: 0.5em 0; }
    .page-dashboard #widget-form .form-actions {
      clear: both;
      border-top: 1px solid #ccc;
      padding: 1em 0; }
    .page-dashboard #widget-form .form-submit {
      float: right; }

body.ixm-dashboard {
  padding-bottom: 60px; }
  @media (min-width: 610px) {
    body.ixm-dashboard {
      margin-left: 200px !important;
      padding-bottom: 0; } }

#ixm-dashboard {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #2c343a;
  color: #fff;
  overflow: auto;
  z-index: 1000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
  @media (min-width: 610px) {
    #ixm-dashboard {
      display: block;
      width: 200px;
      height: 100%;
      top: 0;
      transition: all .5s ease-in-out;
      box-shadow: unset; } }
  #ixm-dashboard .ajax-progress {
    display: none; }

.ixm-dashboard-bar {
  display: flex;
  flex-direction: row;
  width: 100%; }
  @media (min-width: 610px) {
    .ixm-dashboard-bar {
      flex-direction: column; } }

.dashboard-bar-link {
  position: relative;
  opacity: 0.65;
  transition: opacity .5s ease;
  min-width: 20%; }
  @media (min-width: 610px) {
    .dashboard-bar-link {
      min-width: auto; } }
  .dashboard-bar-link.active, .dashboard-bar-link:hover {
    opacity: 1; }
  .dashboard-bar-link a {
    max-height: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    color: #fff;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    /* Icon */ }
    @media (min-width: 610px) {
      .dashboard-bar-link a {
        padding: .875em 1em; } }
    .dashboard-bar-link a i {
      font-size: 1.5em;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
      @media (min-width: 610px) {
        .dashboard-bar-link a i {
          font-size: 2.125em;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 2;
          order: 2; } }
  .dashboard-bar-link.active-trail, .dashboard-bar-link.active,
  .dashboard-bar-link:hover a {
    color: #fff;
    background: #343b41;
    text-decoration: none; }
  .dashboard-bar-link.active-trail.active:after, .dashboard-bar-link.active:after, .dashboard-bar-link.active-trail.active:hover:after, .dashboard-bar-link.active:hover:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #eb7828, #ef9557); }
    @media (min-width: 610px) {
      .dashboard-bar-link.active-trail.active:after, .dashboard-bar-link.active:after, .dashboard-bar-link.active-trail.active:hover:after, .dashboard-bar-link.active:hover:after {
        width: 4px;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        background: linear-gradient(#eb7828, #ef9557); } }

#ixm-dashboard .dashboard-bar-link a span {
  font-size: .875em;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 2;
  order: 2; }
  @media (min-width: 610px) {
    #ixm-dashboard .dashboard-bar-link a span {
      font-size: 1em;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

/**
 * Ajax Tray
 */
#ixm-dashboard-tray {
  position: fixed;
  left: -901px;
  /* 1px over max-width + width of dashboard */
  top: 0;
  bottom: 0;
  width: 100%;
  background: #343b41;
  color: #fff;
  transition: all .5s ease;
  box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.75);
  z-index: 999; }
  @media (min-width: 610px) {
    #ixm-dashboard-tray {
      max-width: 700px;
      width: calc(100% - 200px); } }
  #ixm-dashboard-tray.open {
    left: 0; }
    @media (min-width: 610px) {
      #ixm-dashboard-tray.open {
        left: 200px; } }
  #ixm-dashboard-tray .close-tray {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #343b41;
    color: rgba(255, 255, 255, 0.65);
    box-shadow: 5px 3px 10px -3px rgba(0, 0, 0, 0.75);
    padding: 5px; }
    #ixm-dashboard-tray .close-tray i {
      font-size: 20px;
      line-height: 20px; }
  #ixm-dashboard-tray .tray-content {
    padding: 1em 0;
    color: rgba(255, 255, 255, 0.6);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
    @media (min-width: 610px) {
      #ixm-dashboard-tray .tray-content {
        padding: 2em; } }
    #ixm-dashboard-tray .tray-content a .material-icons {
      font-size: 1em; }
    #ixm-dashboard-tray .tray-content .display-title,
    #ixm-dashboard-tray .tray-content .widget-box .title {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.65);
      margin: 0.5em 0;
      font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    #ixm-dashboard-tray .tray-content .display-title {
      font-size: 17px;
      margin-bottom: 1em;
      color: rgba(255, 255, 255, 0.8); }
    #ixm-dashboard-tray .tray-content .widget-content {
      margin-bottom: 1em; }
    #ixm-dashboard-tray .tray-content .widget-box {
      background: #2c343a; }
      #ixm-dashboard-tray .tray-content .widget-box .title {
        font-size: 15px; }
      #ixm-dashboard-tray .tray-content .widget-box .detail {
        font-size: 1.5em;
        box-shadow: inset 4px 0 0 #eb7828; }
      #ixm-dashboard-tray .tray-content .widget-box .stat {
        color: rgba(255, 255, 255, 0.8);
        font-size: 36px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: .25em; }
    #ixm-dashboard-tray .tray-content .date-selector {
      color: #f8f9fa; }
  #ixm-dashboard-tray .tray-loading {
    display: none;
    width: 100%; }
    #ixm-dashboard-tray .tray-loading .progress-throbber {
      opacity: 1;
      width: 60px;
      height: 60px;
      margin: -30px -30px 0 0; }
      #ixm-dashboard-tray .tray-loading .progress-throbber .path {
        stroke: #eb7828;
        animation: dash 2s ease-in-out infinite, dashboard-colors 2s ease-in-out infinite; }
  #ixm-dashboard-tray.loading .tray-loading {
    display: block; }

@keyframes dashboard-colors {
  0% {
    stroke: #e46a15; }
  50% {
    stroke: #ed873f; }
  100% {
    stroke: #e46a15; } }

/*# sourceMappingURL=style.css.map */