// Custom material social icon fixes (footer).
.material-icons-social {
  text-indent: -9999em;
  position: relative;
  font-size: 2.5em;
  width: 1.25em;
  height: 1em;

  &:before {
    font-size: 1em;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

ol,
ul {
  padding-left: 1.5em;
}

ol .popover &:last-child,
ul .popover &:last-child {
  margin-bottom: 0;
}

// Footer.
.footer {
  padding-top: 35px;
  padding-bottom: 0;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-lg;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }

  .block {
    overflow: hidden;
  }
}

.help-block,
.control-group .help-inline {
  color: $gray-300;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

// Buttons
.btn-primary {
  @include button-variant($btn-primary-bg, $btn-primary-bg, $btn-primary-bg);
  @include oeduButton($btn-primary-hover, $btn-primary-active);
}

.btn-secondary {
  @include button-variant(#fff, $btn-secondary-bg, $btn-secondary-bg);
  @include oeduButton($btn-secondary-hover, $btn-secondary-active);
}

.btn-purple {
  @include button-variant(#972c98, #972c98, lighten(#972c98, 15%));
}

.btn-callout {
  @include button-variant($btn-info-bg, $btn-info-bg, $btn-info-bg);
  @include oeduButton($btn-info-hover, $btn-info-active);
}

//
// Typography Overrides
// --------------------------------------------------

$font-family-serif:     Georgia, Times, "Times New Roman", serif;
$headings-font-family:  $font-family-serif;

// Headings
// -------------------------

h1, .h1 {
  color: $primary;
  line-height: 41px;
}

h2, .h2 {
  color: $gray-darker;
  line-height: 28px;
  font-weight: 600;
}

h3, .h3 {
  color: $primary;
  line-height: 24px;
  font-weight: 700;
}

h4, .h4 {
  color: $gray-darker;
  line-height: 20px;
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $gray-light;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $h2-font-size;
  margin-bottom: ($h2-font-size / 2);

  small,
  .small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($h5-font-size / 2);
  margin-bottom: ($h5-font-size / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-base / 2);
}

.lead {
  margin-bottom: $line-height-base;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    font-size: ($font-size-base * 1.5);
  }
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
//small,
//.small {
//  font-size: floor((100% * $font-size-sm / $font-size-base));
//}

mark,
.mark {
  background-color: theme-color-level("warning", -10);
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: $text-muted;
}

//@include text-emphasis-variant('.text-primary', $primary);
//@include text-emphasis-variant('.text-success', $state-success-text);
//@include text-emphasis-variant('.text-info', $state-info-text);
//@include text-emphasis-variant('.text-warning', $state-warning-text);
//@include text-emphasis-variant('.text-danger', $state-danger-text);

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}

@include bg-variant('.bg-primary', $primary);

@include bg-variant('.bg-success', $state-success-bg);

@include bg-variant('.bg-info', $state-info-bg);

@include bg-variant('.bg-warning', $state-warning-bg);

@include bg-variant('.bg-danger', $state-danger-bg);


// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-base / 2) - 1);
  margin: 0 0 $line-height-base;
  border: none;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-base / 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-base;
}

dt,
dd {
  line-height: $line-height-base;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  cursor: help;
}
.initialism {
  @extend .text-uppercase;

  font-size: 90%;
}

// Blockquotes
blockquote {
  padding: ($line-height-base / 2) $line-height-base;
  margin: 0 0 $line-height-base;
  font-size: $blockquote-font-size;
  border-left: 5px solid $gray-lighter;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  footer {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $gray-lighter;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before {
      content: '';
    }

    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: $line-height-base;
  font-style: normal;
  line-height: $line-height-base;
}
